.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 2rem;
}

.categoryButton {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: all 0.2s;
}

.categoryButtonActive {
  background-color: #8769ff;
  color: white;
}

.categoryButtonInactive {
  background-color: #f3f3f5;
  color: black;
}


.itemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 0 272px;
  width: 100%;
}

.itemCard {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 233px;
  height: 233px;
  aspect-ratio: 1;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemTitle {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #232323;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-weight: bold;
  color: #232323;
}

.timeUnit {
  color: #A2A3A7;
}

.categoryTag {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.15rem 0.25rem;
  background-color: #f3f0ff;
  color: #8769ff;
  font-size: 0.75rem;
  border-radius: 4px;
  width: fit-content;
  white-space: nowrap;
}
