

.categoryButton {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.2s;
  width: 64px;
  height: 38px;
}

.categoryButtonActive {
  background-color: #8769ff;
  color: white;
}

.categoryButtonInactive {
  background-color: #f3f3f5;
  color: black;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 0 272px;
  width: 100%;
}

.itemCard {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 200px;
  height: 200px;
  aspect-ratio: 1;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 1rem;
  border: 1px solid #D9D8D3;
  box-shadow: inset 0 0 0 1px #000000;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemTitle {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: black;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-weight: bold;
  color: black;
}

.categoryTag {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.15rem 0.25rem;
  background-color: #f3f0ff;
  color: #8769ff;
  font-size: 0.75rem;
  border-radius: 4px;
  width: fit-content;
  white-space: nowrap;
}
